@{
    ViewData["Title"] = "Home Page TR";
}

Controller: @Model
<br>
Shared: @L["Shared"]
<br>
View: @VL["MyViewKey"]

@* @foreach (var localizedString in VL.GetAllStrings()) *@
@* { *@
@*     <li>@localizedString</li> *@
@* } *@